/*$融成信息技术有限公司头部页面*/

/*$头部开始*/
.head-box{
	width:100%;
	/*height:161px;*/
}




/*$头部最上边的链接条开始*/
.head-box .head-top-box{
	width:100%;
	min-width: 1200px;
	height:31px;
	border-bottom: 1px solid #D8D8D8;
	background: #eee;
}
.head-box .head-top-box .head-top{
	width: 1200px;
	height: 100%;
	line-height: 30px;
	margin: 0 auto;
	text-align: right;
	font-size: 14px;
}
.head-box .head-top-box .head-top>a{
	margin: 0 10px;
	color: #555;	
}
.head-box .head-top-box .head-top>a:hover{
	text-decoration: underline;
}
.head-box .head-top-box .head-top>i{
	display: inline-block;
	width:1px;
	background: #DDDDDD;
	height:12px;
}
/*$头部最上边的链接条结束*/






/*$头部logo开始*/
.head-box .head-logo-box{
	height: 80px;
	min-width: 1200px;
	background: #F4F4F4;
}
.head-box .head-logo-box .head-logo{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	line-height: 80px;
}
.head-box .head-logo-box .head-logo>a{
	float: left;
}
.head-box .head-logo-box .head-logo .input-box{
	float: right;	
	position: relative;
	width: 247px;
	background: #fff;
	height: 30px;
	margin: 25px 0;
	border:1px solid #DDDDDD;
}
.head-box .head-logo-box .head-logo input{
	font-size: 14px;
	outline: none;
	position: absolute;
	top:0 ;
	height:30px;
	width: 200px;
	left: 10px;
	border: 0;
	background: rgba(0,0,0,0);
}
.head-box .head-logo-box .head-logo .input-box a{
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	line-height: 30px;
	text-align: center;
}
/*$头部logo结束*/







/*$头部导航开始*/
.head-box .head-nav-box{
	background: #E0E0E0;
	width: 100%;
	min-width: 1200px;
	/*z-index: 20;*/
}
.head-box .head-nav{
	width: 1200px;
	margin: 0 auto;
}
.head-box .head-nav:after{
	content: "";
	display: block;
	clear: both;
}
.head-box .head-nav>li{
	float:left;
	line-height: 60px;
	text-align: center;
	width: 171px;
	font-size: 16px;
	position:relative;
}
.head-box .head-nav>li>a{
	display: block;
	width: 100%;
	height: 100%;
	transition:all .5s;
}
.head-box .head-nav>#click-nav>a{
	background: #19B4EA;
	color: #fff;
}
.head-box .head-nav>li>a:hover{
	background: #19B4EA;
	color: #fff;
}
.head-box .head-nav>.first-nav{
	width:174px;
}
/*$下边是导航子标签*/
.head-box .head-nav>li>ul{
	position: absolute;
	left:0;
	top: 100%;
	width: 100%;
	height: 0;
	background: #E0E0E0;
	overflow: hidden;
}
.head-box .head-nav>li>ul a{
	display: block;
	width: 100%;
	height: 100%;
}
.head-box .head-nav>li:hover ul{
	height: auto;
}
.head-box .head-nav>li>ul>li{
	width:100%;
	height: 60px;
	border-top: 1px solid #fff;
}
.head-box .head-nav>li>ul>li>a{
	transition: all .5s;
}
.head-box .head-nav>li>ul>li>a:hover{
	background: #19B4EA;
	color: #fff;
}
.head-nav-box.navBH{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999999999;
}
/*$头部导航结束*/


/*$头部结束*/


