/*融成（天津）信息技术有限公司主页*/

/*$轮播图开始*/
/*轮播图的宽是在index.js里边设置的。*/
.banner-box{
	width: 100%;
	min-width: 1200px;
	overflow: hidden;	
	position: relative;
	box-shadow: 0 5px 20px -5px #a8a8a8;
}
.banner-box .banner-tuBox{
	transition: margin-left 1s linear;
}
.banner-box .banner-tuBox:after{
	content:"";
	display: block;
	clear: both;
}
.banner-box .banner-tuBox>a{
	display: block;
	float: left;
	height: 100%;
}
.banner-box .banner-tuBox img{
	width: 100%;
}
/*轮播图按钮的宽在index.js里边设置了*/
.banner-box .banner-btn{
	height: 15px;
	position: absolute;
	left: 50%;
	bottom: 50px;
}
.banner-box .banner-btn>i{
	display: block;
	width: 15px;
	height: 15px;
	background: #B0B0B0;
	margin: 0 5px;
	border-radius: 50%;
	float: left;
	cursor: pointer;
}
.banner-box .banner-btn>i.clickBtn{
	background: #19B4EA;
}
/*$轮播图结束*/

#id{
	height: 500px;
	width: 500px;
	background: blue;
}


/*$我们的业务开始*/

.business-box{
	width:100%;
	min-width: 1200px;
}
.business-box:after{
	content: "";
	display: block;
	clear: both;
}
.business-box .business{
	width: 1200px;
	margin: 0 auto;
}
.business-box .business>h3{
	text-align: left;
	margin: 60px 0 30px;
	font-size: 18px;
	font-weight: bold;
	color: #19B4EA;
}
.business-box .business>.business-content{
	width: 100%;
	height: 453px;
	border-right: 1px dashed #CCC;
}
.business-box .business>.business-content>li{
	width: 25%;
	height: 227px;
	float: left;
	border-left: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	padding: 5px;
}
.business-box .business>.business-content>li:nth-child(4)~li{
	border-bottom: 0;
}
.business-box .business>.business-content>li a{
	display: block;
	width: 100%;
	height: 100%;
}
.business-box .business>.business-content>li a>i{
	display: block;
	width: 50px;
	height: 50px;
	margin: 40px auto 15px;
}
.business-box .business>.business-content>li a>i>img{
	width: 100%;
	height: 100%;
}
.business-box .business>.business-content>li a>h4{
	text-align: center;
	margin-bottom: 15px;
	color: #545454;
}
.business-box .business>.business-content>li a>p{
	text-align: center;
	text-overflow:ellipsis; 
	line-height: 1.5;
    overflow:hidden;
    display:-webkit-box; 
    -webkit-line-clamp:2; 
    -webkit-box-orient: vertical;
    font-size: 14px;
    color: #aaa;
}
/*$我们的业务结束*/







/*$我们的优势开始*/
.advantage-box{
	width: 100%;
	min-width: 1200px;
	border-bottom: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
	margin-top: 60px;
	background: #EFEFEF;
}
.advantage-box .advantage{
	width: 1200px;
	height: 350px;
	margin: 0 auto;
}
.advantage-box .advantage>h3{
	text-align: left;
	margin: 60px 0 30px;
	font-size: 18px;
	font-weight: bold;
	color: #19B4EA;
}
.advantage-box .advantage>.advantage-content{
	height: 260px;
}
.advantage-box .advantage>.advantage-content>li{
	width: 33.3333%;
	float: left;
	height: 260px;
	padding: 0 80px 0 0;
}
.advantage-box .advantage>.advantage-content>li>a{
	display: block;
	width: 100%;
	height: 100%;
}
.advantage-box .advantage>.advantage-content>li>a>img{
	margin: 10px 0 20px;
}
.advantage-box .advantage>.advantage-content>li>a>span{
	font-size: 16px;
	color: #545454;
}
.advantage-box .advantage>.advantage-content>li>a>h4{
	margin: 10px 0 15px;
	color: #545454;
	font-size: 18px;
}
.advantage-box .advantage>.advantage-content>li>a>p{
	color: #AAAAAA;
	font-size: 16px;
	text-overflow:ellipsis; 
    overflow:hidden;
    display:-webkit-box; 
    -webkit-line-clamp:3; 
    -webkit-box-orient: vertical;
}
/*$我们的优势结束*/







/*$案例展示开始*/
.case-box{
	width: 100%;
	min-width: 1200px;
}
.case-box .case{
	width: 1200px;
	margin: 0 auto 20px;
}
.case-box .case:before{
	content:" ";
	display:block;
	height:0;
	clear:both;
}
.case-box .case:after{
	content:" ";
	display:block;
	height:0;
	clear:both;
}
.case-box .case>h3{
	float: left;
	margin: 60px 0 30px;
	font-size: 18px;
	font-weight: bold;
	color: #19B4EA;
}
.case-box .case>a{
	float: right;
	margin: 60px 0 30px;
	font-size: 14px;
	color: #888;
}
.case-box .case>.case-content{
	width: 1200px;
	padding-top: 120px;
	
}
.case-box .case>.case-content>.case-img-box{
	width: 100%;
	margin-bottom: 40px;
	position: relative;
}
.case-box .case>.case-content>.case-img-box:hover .shade{
	display: block;
}
.case-box .case>.case-content .shade{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	transition: all 1s;
	background: rgba(0,0,0,.5);
	text-align: center;
	color: #fff;
}
.case-box .case>.case-content .shade>h1{
	margin-top: 180px;
	margin-bottom: 20px;
}
.case-box .case>.case-content>.case-img-box>img{
	width: 100%;
}
/*$案例展示结束*/








/*$新闻动态开始*/
.dynamic-box{
	width: 100%;
	background: #EFEFEF;
	border-bottom: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
	padding-top: 40px;
	padding-bottom: 20px;
}
.dynamic-box .dynamic{
	width: 1200px;
	margin: 0 auto;
}
.dynamic-box .dynamic:after{
	content:"";
	display: block;
	clear: both;
}
.dynamic-box .dynamic>li{
	float: left;
	width: 33.333333%;
	padding: 20px;
}
.dynamic-box .dynamic>li h3{
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 10px;
	border-bottom: 1px solid #D8D8D8;
	padding-bottom: 10px;
}
.dynamic-box .dynamic>li h3>a:hover{
	text-decoration: underline;
}
.dynamic-box .dynamic>li>ul{
	width: 100%;
}
.dynamic-box .dynamic>li>ul>li{
	margin: 30px 0;
}
.dynamic-box .dynamic>li>ul>li a:hover{
	text-decoration: underline;
}
.dynamic-box .dynamic>li>ul>li>a{
	float: left;
	width: 70%;
	overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color: #555;
}
.dynamic-box .dynamic>li>ul>li>span{
	float: right;
	width: 20%;
	color: #555;
	overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.dynamic-box .dynamic>li>ul>li>p{
	width: 100%;
	padding-top: 10px;
	color: #999;
	font-size: 12px;
	text-overflow:ellipsis; 
    overflow:hidden;
    display:-webkit-box; 
    -webkit-line-clamp:3; 
    -webkit-box-orient: vertical;
}
/*$新闻动态结束*/






/*$友情链接开始*/
.blogroll-box{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 12px;
}
.blogroll{
	width: 1200px;
	margin: 0 auto;
}
.blogroll>a{
	margin-right: 5px;
	color: #666;
}
.blogroll>a:hover{
	text-decoration: underline;
}
/*$友情链接结束*/

